
/*classを指定する場合は .(ドット)から始まる
　idを指定するときは #(シャープ)*/

/*オモテ面*/
.face {
  color: blueviolet;
}
/*ウラ面*/
.back {
  color: blueviolet;
  opacity: 0.4; /*透明度*/
}


/*
座標関係のプロパティ
・transform =変形
・rotate =回転
・degree(deg) =角度
・setAttribute =classのタグを切り替える

HTMLはページの構造
JSは処理の統括(スイッチの切り替え？)
CSSはカラーやアニメーションなど、見た目に関する処理

家の電源スイッチに例えると、
HTML：スイッチのボタン
JS：電気回路
CSS：点灯した電気の色

回転はJavaScriptで作ったほうが、細かく設定できるが、CSSでも作ることは可能
*/


/* ～CSSだけで回転させる場合～

テンプレ
@keyframes キーフレーム名{
  0% {
  プロパティ: 値
  }
  100% {
  プロパティ: 値
  }
}
  

animation: ～ について
・rotation =@keyframes(キーフレーム)を指定
・2s =アニメーションの時間
・linear =再生速度
・infinite =ループ再生
・alternate =再生と逆再生を交互に繰り返す
・none =実行される前後にスタイルを当てるか指定

*/


/* 2秒の間で角度を0°~360°回転させ続ける */


/* #heading {
  animation: rotation 2s linear infinite alternate none running;
}

@keyframes rotation {

  0% {
    transform: rotateX(0deg)
  }

  100% {
    transform: rotateX(360deg)
  }
} */


